<template name="header">
<header>
  <div id="sidebar" class="ui left sidebar inverted vertical menu" >
      <a class="header item" id="close">
        <i class="close icon"></i>
        Close
      </a>
      <a class="item" href="{{pathFor 'home'}}">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" href="{{pathFor 'profile'}}">
        <i class="home icon"></i>
        Profile
      </a>
      <a class="item" href="{{pathFor 'contact'}}">
        <i class="mail icon"></i>
        Contact
      </a>

      <div class="ui inverted horizontal section divider">
          <i class="green circular basic lightning icon"></i>
      </div>

      {{#if currentUser}}
        <div id="logout" class="item ui red button">Log Out</div>
      {{/if}}


</div>


</header>






<div class="ui fixed main menu">
    <div class="middle aligned row">
      <a class="launch item"><i class="icon list layout"></i> Content</a>
      <div class="title item">
        <a href="{{pathFor 'home'}}"><img src="logo.png" alt="Cocina para golfos" class="ui image tiny"></a>
      </div>


      <a id="btn" class="icon item" href="#"><i class="right chevron icon"></i></a>

      <div id="header-right" class="right menu ">

        <div class="text item">
          <a href="{{pathFor 'contact'}}"> Contact</a>
        </div>
        <div class="text item">
          <a href="{{pathFor 'profile'}}"> Profile</a>
        </div>
      </div>
    </div>
  </div>
</template>