<template name="contact">
  <div class="ui page grid center aligned">
    <div class="column twelve wide ">
      <div id="contact-header" class="basic ui segment transition visible">
        <h2 class="ui huge center aligned icon header">
            <i class="circular emphasized blue chat outline icon"></i>
            <div class="content">Contact Us<div class="sub header">We are here to help</div>
            </div>
        </h2>
      </div>
      <div class="ui inverted horizontal section divider">
        <i class="green circular mail icon"></i>
      </div>

      <div id="contact-form" class="ui form segment" >
          <div class="field">
              <label>Name</label>
              <input id="contact-name" name="name" placeholder="Name" type="text"  data-trigger="change">
          </div>
          <div class="field">
            <label>Email</label>
            <input placeholder="Email" name="email" type="email" id="contact-email"  data-trigger="change">
          </div>
          <div class="field">
            <label>Your Message</label>
            <textarea id="contact-message" name="message" rows="6" ></textarea>
          </div>

          <button class="ui blue submit button" name="submit" type="submit" data-sending-message="Sending..." data-ok-message="Sent!">Send</button>
      </div>

    </div>
  </div>
</template>